.wrapper {
	grid-area: c;
	background-color: rgb(69, 154, 154);
	border-radius: 15px;
	padding: 15px;
}

.info {
	margin: 23px 15px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	color: rgb(5, 8, 97);
}

.content {
	display: flex;
	border: 3px solid salmon;
	border-radius: 7px;
	margin: 5px;
	width: 50%;
	align-items: center;
	padding-left: 30px;
	/* justify-content: center; */
}

.photobutton {}

/* .photoinfo{
	margin-right: 30px;
} */

.totalfrnds {
	color: aquamarine;
	font-size: 16px;
	font-weight: 500;
	font-family: monospace;
	padding: 7px;
}