/* .img_wrapp img {
	width: 100%;
	height: 150px;
} */

/* user photo control */

.profile img {
	border-radius: 45px;
	margin: 50px 50px 0 50px;
	width: 350px;
	height: 350px;
}

.uploadPhoto {
	margin: 15px 0 0 70px;
}

/* .uploadPhoto input{
	
} */

.profile {
	display: flex;
	justify-content: space-around;
}

.info {
	margin: 100px 100px 0 0;
	width: 500px;
}

.profile {
	font-size: 17px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: antiquewhite;
	letter-spacing: 1.3px;
}

.contacts {
	padding-left: 15px;
}

.editbtn {
	margin: 10px;
}

.cont {
	margin: 10px 0 10px 0;
}

/* ---------------- */

.uploadPhoto {
	display: none;
	/* Приховуємо сам елемент <input> */
}

.uploadPhotoLabel {
	display: inline-block;
	margin: 10px 0px 10px 130px;
	padding: 10px 20px;
	background-color: #eaeaea;
	color: #333;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.uploadPhotoLabel:hover {
	background-color: #ccc;
}

.uploadPhotoLabel:focus {
	outline: none;
	box-shadow: 0 0 0 2px #333;
	/* При фокусуванні на кнопці, додаємо рамку */
}

.uploadPhotoLabel:active {
	background-color: #999;
	/* При натисканні на кнопку, змінюємо колір фону */
}