/* .img_wrapp img {
	width: 100%;
	height: 150px;
} */

/* user photo control */

.profile img {
	border-radius: 45px;
	margin: 50px 50px 0 50px;
	width: 350px;
	height: 350px;
}

.uploadPhoto {
	margin: 15px 0 0 70px;
}

/* .uploadPhoto input{
	
} */

.profile {
	display: flex;
	justify-content: space-around;
}

.info {
	margin: 100px 100px 0 0;
	width: 500px;
}

.profile {
	font-size: 17px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: antiquewhite;
	letter-spacing: 1.3px;
}

.contacts {
	padding-left: 15px;
}